# Employment rates and Income

## Introduktion

The goal of the project is to import two datasets from Statistics Denmark reporting employment rates and income levels. From the unemployment data we will extract two different employmentrates that resemple the employment of decendants of Non-western immigrants and the total poluation in Denmark in the period 2008-2018. Further we import an income statistic fromwhere we extract a serie of disposable income for the educational level vocational.

The data will be cleaned out for municipalities, so we can present and compare the data on regional level. This enables us to merge the datasets into one set from where we can contruct interactive charts. 

Lastly we compute a new variable, which represent the deviation of unemployment from the mean.

In [1]:
# Importing the packages we need for the project
import numpy as np
import pandas as pd
import datetime

import pandas_datareader
import pydst 


import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
#from matplotlib_venn import venn2 #

## Import data from Denmark Statistics

In [4]:
dst = pydst.Dst(lang='en')
dst.get_subjects()

tables = dst.get_tables(subjects=['04'])
tables[tables.id == 'INDKP107']
indk_vars = dst.get_variables(table_id='INDKP107')

# #We look at the data to see how we can sort it.
indk_vars.values

array([['OMRÅDE', 'region', True, False, 'denmark_municipality_07',
        list([{'id': '000', 'text': 'All Denmark'}, {'id': '084', 'text': 'Region Hovedstaden'}, {'id': '01', 'text': 'Province Byen København'}, {'id': '101', 'text': 'Copenhagen'}, {'id': '147', 'text': 'Frederiksberg'}, {'id': '155', 'text': 'Dragør'}, {'id': '185', 'text': 'Tårnby'}, {'id': '02', 'text': 'Province Københavns omegn'}, {'id': '165', 'text': 'Albertslund'}, {'id': '151', 'text': 'Ballerup'}, {'id': '153', 'text': 'Brøndby'}, {'id': '157', 'text': 'Gentofte'}, {'id': '159', 'text': 'Gladsaxe'}, {'id': '161', 'text': 'Glostrup'}, {'id': '163', 'text': 'Herlev'}, {'id': '167', 'text': 'Hvidovre'}, {'id': '169', 'text': 'Høje-Taastrup'}, {'id': '183', 'text': 'Ishøj'}, {'id': '173', 'text': 'Lyngby-Taarbæk'}, {'id': '175', 'text': 'Rødovre'}, {'id': '187', 'text': 'Vallensbæk'}, {'id': '03', 'text': 'Province Nordsjælland'}, {'id': '201', 'text': 'Allerød'}, {'id': '240', 'text': 'Egedal'}, {'id': '210', 'text': 'Fredensborg'}, {'id': '250', 'text': 'Frederikssund'}, {'id': '190', 'text': 'Furesø'}, {'id': '270', 'text': 'Gribskov'}, {'id': '260', 'text': 'Halsnæs'}, {'id': '217', 'text': 'Helsingør'}, {'id': '219', 'text': 'Hillerød'}, {'id': '223', 'text': 'Hørsholm'}, {'id': '230', 'text': 'Rudersdal'}, {'id': '04', 'text': 'Province Bornholm'}, {'id': '400', 'text': 'Bornholm'}, {'id': '085', 'text': 'Region Sjælland'}, {'id': '05', 'text': 'Province Østsjælland'}, {'id': '253', 'text': 'Greve'}, {'id': '259', 'text': 'Køge'}, {'id': '350', 'text': 'Lejre'}, {'id': '265', 'text': 'Roskilde'}, {'id': '269', 'text': 'Solrød'}, {'id': '06', 'text': 'Province Vest- og Sydsjælland'}, {'id': '320', 'text': 'Faxe'}, {'id': '376', 'text': 'Guldborgsund'}, {'id': '316', 'text': 'Holbæk'}, {'id': '326', 'text': 'Kalundborg'}, {'id': '360', 'text': 'Lolland'}, {'id': '370', 'text': 'Næstved'}, {'id': '306', 'text': 'Odsherred'}, {'id': '329', 'text': 'Ringsted'}, {'id': '330', 'text': 'Slagelse'}, {'id': '340', 'text': 'Sorø'}, {'id': '336', 'text': 'Stevns'}, {'id': '390', 'text': 'Vordingborg'}, {'id': '083', 'text': 'Region Syddanmark'}, {'id': '07', 'text': 'Province Fyn'}, {'id': '420', 'text': 'Assens'}, {'id': '430', 'text': 'Faaborg-Midtfyn'}, {'id': '440', 'text': 'Kerteminde'}, {'id': '482', 'text': 'Langeland'}, {'id': '410', 'text': 'Middelfart'}, {'id': '480', 'text': 'Nordfyns'}, {'id': '450', 'text': 'Nyborg'}, {'id': '461', 'text': 'Odense'}, {'id': '479', 'text': 'Svendborg'}, {'id': '492', 'text': 'Ærø'}, {'id': '08', 'text': 'Province Sydjylland'}, {'id': '530', 'text': 'Billund'}, {'id': '561', 'text': 'Esbjerg'}, {'id': '563', 'text': 'Fanø'}, {'id': '607', 'text': 'Fredericia'}, {'id': '510', 'text': 'Haderslev'}, {'id': '621', 'text': 'Kolding'}, {'id': '540', 'text': 'Sønderborg'}, {'id': '550', 'text': 'Tønder'}, {'id': '573', 'text': 'Varde'}, {'id': '575', 'text': 'Vejen'}, {'id': '630', 'text': 'Vejle'}, {'id': '580', 'text': 'Aabenraa'}, {'id': '082', 'text': 'Region Midtjylland'}, {'id': '09', 'text': 'Province Østjylland'}, {'id': '710', 'text': 'Favrskov'}, {'id': '766', 'text': 'Hedensted'}, {'id': '615', 'text': 'Horsens'}, {'id': '707', 'text': 'Norddjurs'}, {'id': '727', 'text': 'Odder'}, {'id': '730', 'text': 'Randers'}, {'id': '741', 'text': 'Samsø'}, {'id': '740', 'text': 'Silkeborg'}, {'id': '746', 'text': 'Skanderborg'}, {'id': '706', 'text': 'Syddjurs'}, {'id': '751', 'text': 'Aarhus'}, {'id': '10', 'text': 'Province Vestjylland'}, {'id': '657', 'text': 'Herning'}, {'id': '661', 'text': 'Holstebro'}, {'id': '756', 'text': 'Ikast-Brande'}, {'id': '665', 'text': 'Lemvig'}, {'id': '760', 'text': 'Ringkøbing-Skjern'}, {'id': '779', 'text': 'Skive'}, {'id': '671', 'text': 'Struer'}, {'id': '791', 'text': 'Viborg'}, {'id': '081', 'text': 'Region Nordjylland'}, {'id': '11', 'text': 'Province Nordjylland'}, {'id': '810', 'text': 'Brønderslev'}, {'id': '813', 'text': 'Frederikshavn'}, {'id': '860', 'text': 'Hjørring'}, {'id': '849', 'text': 'Jammerbugt'}, {'id': '825', 'text': 'Læsø'}, {'id': '846', 'text': 'Mariagerfjord'}, {'id': '773', 'text': 'Morsø'}, {'id': '840', 'text': 'Rebild'}, {'id': '787', 'text': 'Thisted'}, {'id': '820', 'text': 'Vesthimmerlands'}, {'id': '851', 'text': 'Aalborg'}])],
       ['ENHED', 'unit', False, False, nan,
        list([{'id': '101', 'text': 'People with type of income (number)'}, {'id': '110', 'text': 'Amount of income (DKK 1.000)'}, {'id': '116', 'text': 'Average income for all people (DKK)'}, {'id': '121', 'text': 'Average income for people with type of income (DKK)'}])],
       ['KOEN', 'sex', True, False, nan,
        list([{'id': 'MOK', 'text': 'Men and women, total'}, {'id': 'M', 'text': 'Men'}, {'id': 'K', 'text': 'Women'}])],
       ['UDDNIV', 'level of education', False, False, nan,
        list([{'id': '10', 'text': '10 BASIC SCHOOL 8-10 grade'}, {'id': '26', 'text': '20+25 UPPER SECONDARY SCHOOL'}, {'id': '35', 'text': '35 VOCATIONAL EDUCATION'}, {'id': '40', 'text': '40 SHORT-CYCLE HIGHER EDUCATION'}, {'id': '61', 'text': '50+60 MEDIUM-CYCLE HIGHER EDUCATION, BACHLEOR'}, {'id': '65', 'text': '65 LONG-CYCLE HIGHER EDUCATION'}, {'id': '9', 'text': 'Not stated'}])],
       ['INDKOMSTTYPE', 'type of income', False, False, nan,
        list([{'id': '100', 'text': '1 Disposable income (2+30-31-32-35)'}, {'id': '105', 'text': '2 Pre-tax Income, total (3+7+22+26+29)'}, {'id': '110', 'text': '3 Primary income (4+5+6)'}, {'id': '115', 'text': '4 Wages and salaries etc., total'}, {'id': '120', 'text': '5 Entrepreneurial income, total'}, {'id': '125', 'text': '6 Received fees subject to labour market contributions'}, {'id': '130', 'text': '7 Public transfer incomes(8+14+19)'}, {'id': '135', 'text': '8 Unemployment and cash benefits (9+10+11+12+13)'}, {'id': '140', 'text': '9 Unemployment benefits'}, {'id': '145', 'text': '10 Other benefits from unemployment funds'}, {'id': '150', 'text': '11 Cash benefits'}, {'id': '155', 'text': '12 Job training & Limited employment benefits'}, {'id': '160', 'text': '13 Sickness- & parental leave'}, {'id': '165', 'text': '14 Other transfers(15+16+17+18)'}, {'id': '170', 'text': '15 Public educational grants'}, {'id': '175', 'text': '16 Housing benefits'}, {'id': '180', 'text': '17 Child benefits'}, {'id': '185', 'text': '18 Green check'}, {'id': '190', 'text': '19 Public pensions(20+21)'}, {'id': '195', 'text': '20 Early retirement pay'}, {'id': '200', 'text': '21 Disability and old age pensions'}, {'id': '205', 'text': '22 Private pensions(23+24+25)'}, {'id': '210', 'text': '23 Public servants pension'}, {'id': '215', 'text': '24 Pension from the ATP (Labour Market Supplementary Pension Scheme)'}, {'id': '220', 'text': '25 Labour market and private pensions (Annuities only)'}, {'id': '225', 'text': '26 Capital income, gross (27+28)'}, {'id': '230', 'text': '27 Interest received'}, {'id': '235', 'text': '28 Other property income (From stocks etc.)'}, {'id': '240', 'text': '29 Other personal income'}, {'id': '245', 'text': '30 Imputed rent'}, {'id': '250', 'text': '31 Interest expenses'}, {'id': '255', 'text': '32 Tax, total (33+34)'}, {'id': '260', 'text': '33 Income taxes'}, {'id': '265', 'text': '34 Labour market contributions etc.'}, {'id': '270', 'text': '35 Paid alimonies'}, {'id': '275', 'text': 'Equivalised Disposable income'}, {'id': '280', 'text': 'Land tax home owners'}, {'id': '285', 'text': 'Land tax, tenants'}, {'id': '290', 'text': 'Taxable income'}])],
       ['Tid', 'time', False, True, nan,
        list([{'id': '2004', 'text': '2004'}, {'id': '2005', 'text': '2005'}, {'id': '2006', 'text': '2006'}, {'id': '2007', 'text': '2007'}, {'id': '2008', 'text': '2008'}, {'id': '2009', 'text': '2009'}, {'id': '2010', 'text': '2010'}, {'id': '2011', 'text': '2011'}, {'id': '2012', 'text': '2012'}, {'id': '2013', 'text': '2013'}, {'id': '2014', 'text': '2014'}, {'id': '2015', 'text': '2015'}, {'id': '2016', 'text': '2016'}, {'id': '2017', 'text': '2017'}, {'id': '2018', 'text': '2018'}])]],
      dtype=object)

In [5]:
# #We look at the data to see how we can sort it. (Fra forelæsning 8.)
indk_vars = dst.get_variables(table_id='INDKP107')
for id in ['ENHED','KOEN','UDDNIV','INDKOMSTTYPE']:
    print(id)
    values = indk_vars.loc[indk_vars.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

ENHED
 id = 101, text = People with type of income (number)
 id = 110, text = Amount of income (DKK 1.000)
 id = 116, text = Average income for all people (DKK)
 id = 121, text = Average income for people with type of income (DKK)
KOEN
 id = MOK, text = Men and women, total
 id = M, text = Men
 id = K, text = Women
UDDNIV
 id = 10, text = 10 BASIC SCHOOL 8-10 grade
 id = 26, text = 20+25 UPPER SECONDARY SCHOOL
 id = 35, text = 35 VOCATIONAL EDUCATION
 id = 40, text = 40 SHORT-CYCLE HIGHER EDUCATION
 id = 61, text = 50+60 MEDIUM-CYCLE HIGHER EDUCATION, BACHLEOR
 id = 65, text = 65 LONG-CYCLE HIGHER EDUCATION
 id = 9, text = Not stated
INDKOMSTTYPE
 id = 100, text = 1 Disposable income (2+30-31-32-35)
 id = 105, text = 2 Pre-tax Income, total (3+7+22+26+29)
 id = 110, text = 3 Primary income (4+5+6)
 id = 115, text = 4 Wages and salaries etc., total
 id = 120, text = 5 Entrepreneurial income, total
 id = 125, text = 6 Received fees subject to labour market contributions
 id = 130, text = 7 Public transfer incomes(8+14+19)
 id = 135, text = 8 Unemployment and cash benefits (9+10+11+12+13)
 id = 140, text = 9 Unemployment benefits
 id = 145, text = 10 Other benefits from unemployment funds
 id = 150, text = 11 Cash benefits
 id = 155, text = 12 Job training & Limited employment benefits
 id = 160, text = 13 Sickness- & parental leave
 id = 165, text = 14 Other transfers(15+16+17+18)
 id = 170, text = 15 Public educational grants
 id = 175, text = 16 Housing benefits
 id = 180, text = 17 Child benefits
 id = 185, text = 18 Green check
 id = 190, text = 19 Public pensions(20+21)
 id = 195, text = 20 Early retirement pay
 id = 200, text = 21 Disability and old age pensions
 id = 205, text = 22 Private pensions(23+24+25)
 id = 210, text = 23 Public servants pension
 id = 215, text = 24 Pension from the ATP (Labour Market Supplementary Pension Scheme)
 id = 220, text = 25 Labour market and private pensions (Annuities only)
 id = 225, text = 26 Capital income, gross (27+28)
 id = 230, text = 27 Interest received
 id = 235, text = 28 Other property income (From stocks etc.)
 id = 240, text = 29 Other personal income
 id = 245, text = 30 Imputed rent
 id = 250, text = 31 Interest expenses
 id = 255, text = 32 Tax, total (33+34)
 id = 260, text = 33 Income taxes
 id = 265, text = 34 Labour market contributions etc.
 id = 270, text = 35 Paid alimonies
 id = 275, text = Equivalised Disposable income
 id = 280, text = Land tax home owners
 id = 285, text = Land tax, tenants
 id = 290, text = Taxable income

In [11]:
#For each year and area, we choose to look at average disposable income for people with vocational education.
inc = dst.get_data(table_id = 'INDKP107', variables= {'OMRÅDE':['*'], 'TID':['*'], 'UDDNIV':['35'],  'ENHED':['116'], 'INDKOMSTTYPE':['100']})

#... and we look at the employment rate for each year, area, and origin.
empl = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'TID':['*'], 'HERKOMST':['*']})

In [8]:
empl.head()

,OMRÅDE,TID,HERKOMST,ALDER,KØN,BEREGNING,INDHOLD
0,Hørsholm,2008,Descendants from non-western countries,"Age, total",Total,Employment rate,56.9
1,Hørsholm,2009,Descendants from non-western countries,"Age, total",Total,Employment rate,53.3
2,Hørsholm,2010,Descendants from non-western countries,"Age, total",Total,Employment rate,57.1
3,Høje-Taastrup,2011,Descendants,"Age, total",Total,Employment rate,55.7
4,Høje-Taastrup,2012,Descendants,"Age, total",Total,Employment rate,54.4

In [10]:
inc.head()

,OMRÅDE,TID,UDDNIV,ENHED,INDKOMSTTYPE,KOEN,INDHOLD
0,Fanø,2013,35 VOCATIONAL EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",225466
1,Varde,2013,35 VOCATIONAL EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",235711
2,Vejen,2013,35 VOCATIONAL EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",226659
3,Aabenraa,2013,35 VOCATIONAL EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",215493
4,Fredericia,2013,35 VOCATIONAL EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",218775

In [13]:
#Renaming 
columns_dict_empl = {}
columns_dict_empl['OMRÅDE'] = 'area'
columns_dict_empl['TID'] = 'year'
columns_dict_empl['HERKOMST'] = 'origin'
columns_dict_empl['INDHOLD'] = 'emp'

columns_dict_inc = {}
columns_dict_inc['OMRÅDE'] = 'area'
columns_dict_inc['TID'] = 'year'
columns_dict_inc['INDHOLD'] = 'income'
columns_dict_inc['UDDNIV'] = 'educ'

empl.rename(columns=columns_dict_empl,inplace=True)
inc.rename(columns=columns_dict_inc,inplace=True)

##Disposable income by region
I = inc.area.str.contains('Region')
inc =  inc.loc[I,['area','year','income']]
inc.head(10)

#Employment rate total by region
I = empl.area.str.contains('Region')
empl=  empl.loc[I,['area','year','origin','emp']]
empl_copy =empl

In [14]:
#From this data we pick out two different employment rates. This is performed in three steps:

#Step 1: Get the total employment rate
I= empl.origin.str.contains('Total')
empl=  empl.loc[I,['area','year','emp']]

#Step 2: From the copy of empl we make the employment rate for decendents of non-western immigrants.
L = empl_copy.origin.str.contains('Descendants from non-western countries')
empl_copy=  empl_copy.loc[L,['area','year','emp']]
empl_copy.rename(columns ={'emp':'emp_nw'}, inplace=True)

#Step 3 Merge the two sets and obtain the final employment dataset: empl_true
empl_true = pd.merge(empl, empl_copy, on=['area','year'], how='left')

In [16]:
#Plotting the employment dataset:
empl_true.head()

                 area  year   emp  emp_nw
0  Region Midtjylland  2011  72.4    50.0
1  Region Midtjylland  2012  71.8    47.5
2  Region Midtjylland  2013  71.7    47.2
3  Region Midtjylland  2014  72.2    49.3
4  Region Nordjylland  2011  71.0    44.1

## Merging and arriving at the final dataset

In [18]:
#Finally merge the income data set to the employment data.

#Looking into the data, which differs interms of range of years
print(f'Years in empl_true: {empl_true.year.unique()}')
print(f'Years in inc: {inc.year.unique()}')

#Finding the differences
diff_y = [y for y in inc.year.unique() if y not in empl_true.year.unique()] 
print(f'years in income data, but not in the employment data: {diff_y}')

#Merging
data = pd.merge(empl_true, inc, on=['area','year'], how='left')
data_true = data.sort_values(['area','year'])

Years in empl_true: [2011 2012 2013 2014 2008 2009 2010 2015 2016 2017 2018]
Years in inc: [2013 2012 2011 2010 2009 2008 2006 2005 2004 2014 2015 2007 2016 2017
 2018]
years in income data, but not in the employment data: [2006, 2005, 2004, 2007]

In [20]:
# Creating a new variable: Mean of disposable income for each region across years .

inc_mean = data_true.groupby('area')['income'].apply(lambda x: x.mean()).head() 
inc_mean.head(10)
inc_mean.name = 'inc_mean' # necessary for join
# inc_mean = inc_grouped.mean() # mean income over years
inc_mean.head(10)

area
Region Hovedstaden    228339.636364
Region Midtjylland    224758.909091
Region Nordjylland    215044.545455
Region Sjælland       222744.818182
Region Syddanmark     215945.181818
Name: inc_mean, dtype: float64

In [21]:
#Mergin the new variable to the dataset
data_true = pd.merge(data_true, inc_mean, on=['area'], how='left')

In [22]:
#Creating a new variable: The difference of the recorded income to the mean.
data_true['diff_to_mean']= data_true['income']-data_true['inc_mean']

In [23]:
#The final dataset
data_true.head(50)

,area,year,emp,emp_nw,income,inc_mean,diff_to_mean
0,Region Hovedstaden,2008,75.8,65.7,197692,228339.636364,-30647.636364
1,Region Hovedstaden,2009,73.3,59.7,198466,228339.636364,-29873.636364
2,Region Hovedstaden,2010,72.6,57.3,214620,228339.636364,-13719.636364
3,Region Hovedstaden,2011,72.5,56.2,219615,228339.636364,-8724.636364
4,Region Hovedstaden,2012,72.2,55.0,224140,228339.636364,-4199.636364
5,Region Hovedstaden,2013,72.3,55.5,229318,228339.636364,978.363636
6,Region Hovedstaden,2014,72.5,55.6,235023,228339.636364,6683.363636
7,Region Hovedstaden,2015,73.2,57.7,241364,228339.636364,13024.363636
8,Region Hovedstaden,2016,73.8,58.7,244771,228339.636364,16431.363636
9,Region Hovedstaden,2017,74.4,60.5,250257,228339.636364,21917.363636
10,Region Hovedstaden,2018,75.3,63.0,256470,228339.636364,28130.363636
11,Region Midtjylland,2008,77.0,62.7,192416,224758.909091,-32342.909091
12,Region Midtjylland,2009,73.4,55.2,197157,224758.909091,-27601.909091
13,Region Midtjylland,2010,72.8,52.9,210094,224758.909091,-14664.909091
14,Region Midtjylland,2011,72.4,50.0,215844,224758.909091,-8914.909091
15,Region Midtjylland,2012,71.8,47.5,221785,224758.909091,-2973.909091
16,Region Midtjylland,2013,71.7,47.2,227787,224758.909091,3028.090909
17,Region Midtjylland,2014,72.2,49.3,227510,224758.909091,2751.090909
18,Region Midtjylland,2015,72.5,50.9,236211,224758.909091,11452.090909
19,Region Midtjylland,2016,73.3,51.3,240838,224758.909091,16079.090909
20,Region Midtjylland,2017,74.1,53.0,248821,224758.909091,24062.090909
21,Region Midtjylland,2018,75.0,54.1,253885,224758.909091,29126.090909
22,Region Nordjylland,2008,75.2,49.3,184455,215044.545455,-30589.545455
23,Region Nordjylland,2009,71.5,44.4,187773,215044.545455,-27271.545455
24,Region Nordjylland,2010,71.2,45.7,199859,215044.545455,-15185.545455
25,Region Nordjylland,2011,71.0,44.1,207045,215044.545455,-7999.545455
26,Region Nordjylland,2012,70.6,42.8,213414,215044.545455,-1630.545455
27,Region Nordjylland,2013,70.2,42.4,219289,215044.545455,4244.454545
28,Region Nordjylland,2014,70.3,42.2,220841,215044.545455,5796.454545
29,Region Nordjylland,2015,70.7,44.8,224711,215044.545455,9666.454545
30,Region Nordjylland,2016,71.7,46.3,229358,215044.545455,14313.454545
31,Region Nordjylland,2017,72.2,47.4,238065,215044.545455,23020.454545
32,Region Nordjylland,2018,73.4,47.9,240680,215044.545455,25635.454545
33,Region Sjælland,2008,75.7,64.0,192355,222744.818182,-30389.818182
34,Region Sjælland,2009,72.7,56.8,194916,222744.818182,-27828.818182
35,Region Sjælland,2010,71.9,55.0,209777,222744.818182,-12967.818182
36,Region Sjælland,2011,71.6,52.3,212911,222744.818182,-9833.818182
37,Region Sjælland,2012,70.9,52.4,218913,222744.818182,-3831.818182
38,Region Sjælland,2013,71.0,51.8,225441,222744.818182,2696.181818
39,Region Sjælland,2014,71.3,53.4,229824,222744.818182,7079.181818
40,Region Sjælland,2015,71.9,55.7,234122,222744.818182,11377.181818
41,Region Sjælland,2016,72.6,56.9,237820,222744.818182,15075.181818
42,Region Sjælland,2017,73.3,58.6,244885,222744.818182,22140.181818
43,Region Sjælland,2018,74.4,59.1,249229,222744.818182,26484.181818
44,Region Syddanmark,2008,75.7,59.6,186939,215945.181818,-29006.181818
45,Region Syddanmark,2009,72.0,52.4,190717,215945.181818,-25228.181818
46,Region Syddanmark,2010,71.2,49.4,204138,215945.181818,-11807.181818
47,Region Syddanmark,2011,70.7,48.4,208367,215945.181818,-7578.181818
48,Region Syddanmark,2012,70.0,47.5,212855,215945.181818,-3090.181818
49,Region Syddanmark,2013,70.1,46.4,218032,215945.181818,2086.818182

## Descriptive statistics

In [24]:
#Plain desriptive statistics
data_true.describe()
#Mean
print(" The mean employment rate of the total population by region")
data_true.groupby('area')['emp'].apply(lambda x: x.mean()).head()

 The mean employment rate of the total population by region

area
Region Hovedstaden    73.445455
Region Midtjylland    73.290909
Region Nordjylland    71.636364
Region Sjælland       72.481818
Region Syddanmark     71.700000
Name: emp, dtype: float64

In [25]:
print("The mean employmentrate of descendants of non-western immigrants")
data_true.groupby('area')['emp_nw'].apply(lambda x: x.mean()).head()

The mean employmentrate of descendants of non-western immigrants

area
Region Hovedstaden    58.627273
Region Midtjylland    52.190909
Region Nordjylland    45.209091
Region Sjælland       56.000000
Region Syddanmark     50.136364
Name: emp_nw, dtype: float64

# Plotting both employment rates for the regions

In [26]:
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y={'emp_nw','emp'}, style='-o', legend=False)

In [27]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…

# Plotting the disposable income of the regions over years.

In [28]:
#Plotting income. 
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y='income', style='-o', legend=False)

In [29]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…

# Plotting the difference to the mean for income

In [30]:
#Plotting income. 
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y='diff_to_mean', style='-o', legend=False)

In [31]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…

## Conclusion

We have looked into the employmentrates of descendants of non-western immigrants and the total population in Denmark at a regional level. From this we have seen that the employmentrate of the decendants is lower for all regions across the whole period 2008-2018. From the graph it seems that the decendants were impacted more by the financial crisis than the total employment rate, as the employment rate of the descendants fell more. 

From the income variabel we can see that the disposable income have been increasing across the timeperiod. It seems not to be affected by the financial crisis in 2012 were the employment rates fell.