In [11]:
import numpy as np
import pandas as pd
import datetime

import pandas_datareader
import pydst 


import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
#from matplotlib_venn import venn2 #

## Import data from Denmark Statistics

In [12]:
dst = pydst.Dst(lang='en')
dst.get_subjects()

tables = dst.get_tables(subjects=['04'])
tables[tables.id == 'INDKP107']
# indk_vars = dst.get_variables(table_id='INDKP107')
# #We look at the data to see how we can sort it.
# indk_vars.values

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
192,INDKP107,"Income, persons",-,2019-11-13 08:00:00,2004,2018,True,"[region, unit, sex, level of education, type o..."

In [13]:
# #We look at the data to see how we can sort it. (Fra forelæsning 8.)
indk_vars = dst.get_variables(table_id='INDKP107')
for id in ['ENHED','KOEN','UDDNIV','INDKOMSTTYPE']:
    print(id)
    values = indk_vars.loc[indk_vars.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

ENHED
 id = 101, text = People with type of income (number)
 id = 110, text = Amount of income (DKK 1.000)
 id = 116, text = Average income for all people (DKK)
 id = 121, text = Average income for people with type of income (DKK)
KOEN
 id = MOK, text = Men and women, total
 id = M, text = Men
 id = K, text = Women
UDDNIV
 id = 10, text = 10 BASIC SCHOOL 8-10 grade
 id = 26, text = 20+25 UPPER SECONDARY SCHOOL
 id = 35, text = 35 VOCATIONAL EDUCATION
 id = 40, text = 40 SHORT-CYCLE HIGHER EDUCATION
 id = 61, text = 50+60 MEDIUM-CYCLE HIGHER EDUCATION, BACHLEOR
 id = 65, text = 65 LONG-CYCLE HIGHER EDUCATION
 id = 9, text = Not stated
INDKOMSTTYPE
 id = 100, text = 1 Disposable income (2+30-31-32-35)
 id = 105, text = 2 Pre-tax Income, total (3+7+22+26+29)
 id = 110, text = 3 Primary income (4+5+6)
 id = 115, text = 4 Wages and salaries etc., total
 id = 120, text = 5 Entrepreneurial income, total
 id = 125, text = 6 Received fees subject to labour market contributions
 id = 130, text = 7 Public transfer incomes(8+14+19)
 id = 135, text = 8 Unemployment and cash benefits (9+10+11+12+13)
 id = 140, text = 9 Unemployment benefits
 id = 145, text = 10 Other benefits from unemployment funds
 id = 150, text = 11 Cash benefits
 id = 155, text = 12 Job training & Limited employment benefits
 id = 160, text = 13 Sickness- & parental leave
 id = 165, text = 14 Other transfers(15+16+17+18)
 id = 170, text = 15 Public educational grants
 id = 175, text = 16 Housing benefits
 id = 180, text = 17 Child benefits
 id = 185, text = 18 Green check
 id = 190, text = 19 Public pensions(20+21)
 id = 195, text = 20 Early retirement pay
 id = 200, text = 21 Disability and old age pensions
 id = 205, text = 22 Private pensions(23+24+25)
 id = 210, text = 23 Public servants pension
 id = 215, text = 24 Pension from the ATP (Labour Market Supplementary Pension Scheme)
 id = 220, text = 25 Labour market and private pensions (Annuities only)
 id = 225, text = 26 Property income, gross(27+28)
 id = 230, text = 27 Interest received
 id = 235, text = 28 Other property income (From stocks etc.)
 id = 240, text = 29 Other personal income
 id = 245, text = 30 Imputed rent
 id = 250, text = 31 Interest expenses
 id = 255, text = 32 Tax, total (33+34)
 id = 260, text = 33 Income taxes
 id = 265, text = 34 Labour market contributions etc.
 id = 270, text = 35 Paid alimonies
 id = 275, text = Equivalised Disposable income
 id = 280, text = Land tax home owners
 id = 285, text = Land tax, tenants
 id = 290, text = Taxable income

In [15]:
#For each year and area, we choose to look at average disposable income for people with long-cycle higher education.
inc = dst.get_data(table_id = 'INDKP107', variables= {'OMRÅDE':['*'], 'TID':['*'], 'UDDNIV':['65'],  'ENHED':['116'], 'INDKOMSTTYPE':['100']})

#... and we look at the employment rate for each year, area, and origin.
empl = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'TID':['*'], 'HERKOMST':['*']})

In [16]:
empl.head()

,OMRÅDE,TID,HERKOMST,ALDER,KØN,BEREGNING,INDHOLD
0,Hørsholm,2008,Descendants from non-western countries,"Age, total",Total,Employment rate,56.9
1,Hørsholm,2009,Descendants from non-western countries,"Age, total",Total,Employment rate,53.3
2,Hørsholm,2010,Descendants from non-western countries,"Age, total",Total,Employment rate,57.1
3,Høje-Taastrup,2011,Descendants,"Age, total",Total,Employment rate,55.7
4,Høje-Taastrup,2012,Descendants,"Age, total",Total,Employment rate,54.4

In [17]:
inc.head()

,OMRÅDE,TID,UDDNIV,ENHED,INDKOMSTTYPE,KOEN,INDHOLD
0,Fanø,2013,65 LONG-CYCLE HIGHER EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",349974
1,Varde,2013,65 LONG-CYCLE HIGHER EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",384171
2,Vejen,2013,65 LONG-CYCLE HIGHER EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",347954
3,Aabenraa,2013,65 LONG-CYCLE HIGHER EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",351433
4,Fredericia,2013,65 LONG-CYCLE HIGHER EDUCATION,Average income for all people (DKK),1 Disposable income (2+30-31-32-35),"Men and women, total",397056

In [18]:
#Renaming 
columns_dict_empl = {}
columns_dict_empl['OMRÅDE'] = 'area'
columns_dict_empl['TID'] = 'year'
columns_dict_empl['HERKOMST'] = 'origin'
columns_dict_empl['INDHOLD'] = 'emp'

columns_dict_inc = {}
columns_dict_inc['OMRÅDE'] = 'area'
columns_dict_inc['TID'] = 'year'
columns_dict_inc['INDHOLD'] = 'income'
columns_dict_inc['UDDNIV'] = 'educ'

empl.rename(columns=columns_dict_empl,inplace=True)
inc.rename(columns=columns_dict_inc,inplace=True)

##Disposable income by region
I = inc.area.str.contains('Region')
inc =  inc.loc[I,['area','year','income']]
inc.head(10)

#Employment rate total by region
I = empl.area.str.contains('Region')
empl=  empl.loc[I,['area','year','origin','emp']]
empl_copy =empl

In [19]:
#From this data we pick out two different employment rates.

#Step 1: Get the total employment rate
I= empl.origin.str.contains('Total')
empl=  empl.loc[I,['area','year','emp']]

#Step 2: From the copy of empl I make the employment rate for decendents of non-western immigrants.
L = empl_copy.origin.str.contains('Descendants from non-western countries')
empl_copy=  empl_copy.loc[L,['area','year','emp']]
empl_copy.rename(columns ={'emp':'emp_nw'}, inplace=True)

#Step 3 Merge the two sets
empl_true = pd.merge(empl, empl_copy, on=['area','year'], how='left')

In [20]:
#Finally merge the income data set to the employment data.
#Looking into the data, which differs interms of range of years
print(f'Years in empl_true: {empl_true.year.unique()}')
print(f'Years in inc: {inc.year.unique()}')

#Finding the differences
diff_y = [y for y in inc.year.unique() if y not in empl_true.year.unique()] 
print(f'years in income data, but not in the employment data: {diff_y}')

#Merging
data = pd.merge(empl_true, inc, on=['area','year'], how='left')
data_true = data.sort_values(['area','year'])

Years in empl_true: [2011 2012 2013 2014 2008 2009 2010 2015 2016 2017 2018]
Years in inc: [2013 2012 2011 2010 2009 2008 2006 2005 2004 2014 2015 2007 2016 2017
 2018]
years in income data, but not in the employment data: [2006, 2005, 2004, 2007]

In [23]:
# Mean of disposable income for each region across years .
#Jeg har rettet lidt i koden for mean, da den ikke gav det rigtige mean.
inc_mean = data_true.groupby('area')['income'].apply(lambda x: x.mean()).head() 
inc_mean.head(10)
inc_mean.name = 'inc_mean' # necessary for join
# inc_mean = inc_grouped.mean() # mean income over years
inc_mean.head(10)

area
Region Hovedstaden    387343.818182
Region Midtjylland    352546.000000
Region Nordjylland    338744.818182
Region Sjælland       368757.090909
Region Syddanmark     353523.727273
Name: inc_mean, dtype: float64

In [24]:
#Mergin the new variable to the dataset
data_true = pd.merge(data_true, inc_mean, on=['area'], how='left')
# inc_ = inc.set_index('area').join(inc_mean, how='left')
# inc_['diff'] = inc_.income - inc_.inc_mean

In [ ]:
#Creating a new variable: The difference of the recorded income to the mean.
data_true['diff_to_mean']= data_true['income']-data_true['inc_mean']

In [25]:
#The final dataset
data_true.head(50)

,area,year,emp,emp_nw,income,inc_mean,diff_to_mean
0,Region Hovedstaden,2008,75.8,65.7,317789,387343.818182,-69554.818182
1,Region Hovedstaden,2009,73.3,59.7,318511,387343.818182,-68832.818182
2,Region Hovedstaden,2010,72.6,57.3,371004,387343.818182,-16339.818182
3,Region Hovedstaden,2011,72.5,56.2,378890,387343.818182,-8453.818182
4,Region Hovedstaden,2012,72.2,55.0,388151,387343.818182,807.181818
5,Region Hovedstaden,2013,72.3,55.5,398802,387343.818182,11458.181818
6,Region Hovedstaden,2014,72.5,55.6,411928,387343.818182,24584.181818
7,Region Hovedstaden,2015,73.2,57.7,422364,387343.818182,35020.181818
8,Region Hovedstaden,2016,73.8,58.7,411602,387343.818182,24258.181818
9,Region Hovedstaden,2017,74.4,60.5,417547,387343.818182,30203.181818
10,Region Hovedstaden,2018,75.3,63.0,424194,387343.818182,36850.181818
11,Region Midtjylland,2008,77.0,62.7,290057,352546.000000,-62489.000000
12,Region Midtjylland,2009,73.4,55.2,302850,352546.000000,-49696.000000
13,Region Midtjylland,2010,72.8,52.9,338659,352546.000000,-13887.000000
14,Region Midtjylland,2011,72.4,50.0,343502,352546.000000,-9044.000000
15,Region Midtjylland,2012,71.8,47.5,351138,352546.000000,-1408.000000
16,Region Midtjylland,2013,71.7,47.2,363784,352546.000000,11238.000000
17,Region Midtjylland,2014,72.2,49.3,372237,352546.000000,19691.000000
18,Region Midtjylland,2015,72.5,50.9,378028,352546.000000,25482.000000
19,Region Midtjylland,2016,73.3,51.3,371159,352546.000000,18613.000000
20,Region Midtjylland,2017,74.1,53.0,379218,352546.000000,26672.000000
21,Region Midtjylland,2018,75.0,54.1,387374,352546.000000,34828.000000
22,Region Nordjylland,2008,75.2,49.3,283346,338744.818182,-55398.818182
23,Region Nordjylland,2009,71.5,44.4,296321,338744.818182,-42423.818182
24,Region Nordjylland,2010,71.2,45.7,329062,338744.818182,-9682.818182
25,Region Nordjylland,2011,71.0,44.1,335163,338744.818182,-3581.818182
26,Region Nordjylland,2012,70.6,42.8,337783,338744.818182,-961.818182
27,Region Nordjylland,2013,70.2,42.4,349155,338744.818182,10410.181818
28,Region Nordjylland,2014,70.3,42.2,353511,338744.818182,14766.181818
29,Region Nordjylland,2015,70.7,44.8,359774,338744.818182,21029.181818
30,Region Nordjylland,2016,71.7,46.3,351160,338744.818182,12415.181818
31,Region Nordjylland,2017,72.2,47.4,360606,338744.818182,21861.181818
32,Region Nordjylland,2018,73.4,47.9,370312,338744.818182,31567.181818
33,Region Sjælland,2008,75.7,64.0,306355,368757.090909,-62402.090909
34,Region Sjælland,2009,72.7,56.8,316594,368757.090909,-52163.090909
35,Region Sjælland,2010,71.9,55.0,354230,368757.090909,-14527.090909
36,Region Sjælland,2011,71.6,52.3,360696,368757.090909,-8061.090909
37,Region Sjælland,2012,70.9,52.4,372618,368757.090909,3860.909091
38,Region Sjælland,2013,71.0,51.8,383502,368757.090909,14744.909091
39,Region Sjælland,2014,71.3,53.4,389826,368757.090909,21068.909091
40,Region Sjælland,2015,71.9,55.7,400058,368757.090909,31300.909091
41,Region Sjælland,2016,72.6,56.9,383392,368757.090909,14634.909091
42,Region Sjælland,2017,73.3,58.6,390467,368757.090909,21709.909091
43,Region Sjælland,2018,74.4,59.1,398590,368757.090909,29832.909091
44,Region Syddanmark,2008,75.7,59.6,298013,353523.727273,-55510.727273
45,Region Syddanmark,2009,72.0,52.4,308428,353523.727273,-45095.727273
46,Region Syddanmark,2010,71.2,49.4,346459,353523.727273,-7064.727273
47,Region Syddanmark,2011,70.7,48.4,349706,353523.727273,-3817.727273
48,Region Syddanmark,2012,70.0,47.5,356027,353523.727273,2503.272727
49,Region Syddanmark,2013,70.1,46.4,364609,353523.727273,11085.272727

In [27]:
#Plain desriptive statistics
data_true.describe()
#Mean
data_true.groupby('area')['emp'].apply(lambda x: x.mean()).head()
data_true.groupby('area')['emp_nw'].apply(lambda x: x.mean()).head()

area
Region Hovedstaden    58.627273
Region Midtjylland    52.190909
Region Nordjylland    45.209091
Region Sjælland       56.000000
Region Syddanmark     50.136364
Name: emp_nw, dtype: float64

# Plotting both employment rates for the regions

In [28]:
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y={'emp_nw','emp'}, style='-o', legend=False)

In [29]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…

# Plotting the disposable income of the regions over years.

In [30]:
#Plotting income. 
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y='income', style='-o', legend=False)

In [31]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…

# Plotting the difference to the mean for income

In [32]:
#Plotting income. 
import ipywidgets as widgets
def plot_data_true(df, area): 
    I = df['area'] == area
    ax=df.loc[I,:].plot(x='year', y='diff_to_mean', style='-o', legend=False)

In [33]:
widgets.interact(plot_data_true, 
    df = widgets.fixed(data_true),
    area = widgets.Dropdown(description='area', 
                                    options=data.area.unique(), 
                                    value='Region Hovedstaden')
);

interactive(children=(Dropdown(description='area', index=3, options=('Region Midtjylland', 'Region Nordjylland…